@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.btn {
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $space-sm;
  border-radius: $base-border-radius;
  transition: $trans-default;
  font-weight: 400;
  width: 100%;
  padding: 0.5rem;

  @include for-size(lg) {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  &:hover {
    filter: $sh-stronger;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      filter: none;
    }
  }

  &--primary {
    color: $white;
    background-color: $blue-dark;
    font-weight: bold;

    &:hover {
      background-color: $blue-light;
    }

    &:active {
      color: $white;
      background-color: $blue-darker;
    }
  }

  &--secondary {
    color: $blue-dark;
    background-color: transparent;
    border: 1px solid $blue-dark;
    font-weight: bold;

    &:hover {
      border-color: $blue-light;
      color: $blue-light;
      filter: none;
    }
  }

  &--low,
  &--medium,
  &--urgent {
    color: $black;
    background-color: $white;
    filter: $sh-stronger;

    &:active,
    &.active {
      color: $white;
      font-weight: bold;
      filter: none;
    }
  }

  &[class*="btn--fab"] {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;

    ::ng-deep img {
      width: 2rem;
      height: 2rem;
    }
  }

  &--fab-primary {
    color: $white;
    background-color: $blue-dark;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

    &:active {
      background-color: $blue-light;
    }
  }

  &--fab-secondary {
    background-color: #FFF;
    border: 2px solid $blue-dark;
    box-shadow: none;

    &:active {
      border-color: $blue-light;
      filter: none;

      img {
        filter: invert(56%) sepia(81%) saturate(560%) hue-rotate(161deg) brightness(93%) contrast(90%);
      }
    }
  }

  &--icon-sm {
    padding: 0.25rem;
    width: auto;
    background-color: $grey-light3;
    border: 1px solid $grey;
    border-radius: 0.25rem;
    color: $black;

    &:hover {
      background-color: $grey-light2;
      filter: none;
    }

    &:active,
    &.active {
      background-color: $grey-dark;
      color: $white;
      border-color: $grey-dark;
      filter: none;
    }

    .btn__bootstrap-icon {
      font-size: 0.875rem!important;
    }
  }

  .btn__bootstrap-icon {
    font-size: 1.25rem;
    line-height: 1;
    flex-shrink: 0;
  }
}
