@use 'styles/variables' as *;
@use 'styles/mixins' as *;

textarea {
  flex: 1;
  padding-right: 0;
  border: 1px solid $grey-light;
  border-radius: $base-border-radius;
  margin-bottom: 1.825rem;

  @include for-size(lg) {
    margin-bottom: 1.825rem;
  }

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: $grey-light
  }
}
