@use 'styles/variables' as *;
@use 'styles/mixins' as *;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

ui-main {
  display: block;
  height: 100%;
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    flex-shrink: 0;
    margin-bottom: 1.5rem;
  }

  &__body {
    flex: 1;
    overflow-y: auto;

    h4 {
      margin: 2rem 0 0.5rem 0;
    }

    h5 {
      margin: 1.5rem 0 0.5rem 0;
    }
  }
}
