@use 'styles/mixins' as *;
@use 'styles/variables' as *;

:host {
  display: block;
  height: 100%;
}

.h5 {
  font-size: 1rem;
}

.task-count {
  font-size: 0.8em;
  font-weight: 400;
  color: $grey;
}

.taskboard {
  width: 100%;
  height: 100%;
  padding-top: 1.5rem;
  overflow-x: auto;
  overflow-y: hidden;

  @include for-size(lg) {
    padding-top: 2rem;
  }
}

.taskboard-inner {
  min-width: 100%;
  height: calc(100% - 1rem);
  gap: 1rem;
  padding: 2px;
}

.board-column {
  flex: 1 1 0%;
  min-width: 17rem;
  border: 1px solid $grey-light3;
  border-radius: 0.75rem;
  padding: 0 0.5rem 0rem 0.5rem;
  background-color: $off-white;
}

.board-column-header {
  padding: 1rem 0.5rem;
}

.taskboard-scroll {
  flex: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
  min-width: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.task-item {
  width: 100%;
  flex-shrink: 0;
  border-radius: 1.5em;
}

.board-list-add-button {
  transition: $trans-default;
  width: 1.5rem;
  height: 1.5rem;

  img {
    transition: $trans-default;
  }

  &:hover {
    border-color: var(--bs-primary, #007bff) !important;

    img {
      filter: invert(66%) sepia(55%) saturate(3372%) hue-rotate(165deg) brightness(95%) contrast(86%);
    }
  }

  @include for-size(lg) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.no-tasks-card {
  border: 0.5px dashed $grey;
  border-radius: 0.5rem;
  background-color: #e7e7e7;
  font-size: 0.875rem;
}

.cdk-drag-preview {
  opacity: 1 !important;
  pointer-events: none !important;
}

.task-item.cdk-drag-placeholder {
  opacity: 0.5;
  border: 2px dotted var(--bs-primary, #007bff);
  border-radius: 1.5rem;
  background-color: rgba(0, 123, 255, 0.05);
  transition: all 250ms ease;
}
