@use 'styles/variables' as *;
@use 'styles/mixins' as *;

* {
  transition: $trans-default;
}

form {

  input {
    max-width: 26.375rem;
  }
}

.signup-form__privacy {
  cursor: pointer;
  user-select: none;

  label {
    cursor: pointer;
  }
}
