<ui-modal-wrapper
  id="signup-form"
  [contentPadding]="false"
  [showCloseButton]="false"
  modalSize="medium"
>
  <div
    class="modal-inner d-flex flex-column h-100 justify-content-center align-items-center"
    id="login-modal"
  >
    <div class="card shadow-sm p-4 w-100">
      <h2 class="my-4 text-center">Sign up</h2>
      <div class="blue-divider"></div>

      <form (ngSubmit)="submit()" class="d-flex flex-column">
        <app-input-field
          type="text"
          label="Name"
          placeholder="Name"
          icon="assets/icons/form-person-24px.svg"
          [(model)]="form.name"
          [error]="errors.name"
          (blur)="markDirty('name')"
          (input)="liveValidate('name')"
          [maxlength]="35"
          [displayLabel]="false"
          [reserveErrorSpace]="true"
        />

        <app-input-field
          type="email"
          label="Email"
          placeholder="Email"
          icon="assets/icons/form-mail-24px.svg"
          [(model)]="form.email"
          [error]="errors.email"
          (blur)="markDirty('email')"
          (input)="liveValidate('email')"
          [maxlength]="35"
          [displayLabel]="false"
          [reserveErrorSpace]="true"
        />

        <app-input-field
          type="password"
          label="Password"
          placeholder="Password"
          icon="assets/icons/form-lock-24px.svg"
          [(model)]="form.password"
          [error]="errors.password"
          (blur)="markDirty('password')"
          (input)="liveValidate('password')"
          [displayLabel]="false"
          [reserveErrorSpace]="true"
        />

        <app-input-field
          type="password"
          label="Confirm Password"
          placeholder="Confirm Password"
          icon="assets/icons/form-lock-24px.svg"
          [(model)]="form.passwordConfirmation"
          [error]="errors.passwordConfirmation"
          (blur)="markDirty('passwordConfirmation')"
          (input)="liveValidate('passwordConfirmation')"
          [displayLabel]="false"
          [reserveErrorSpace]="true"
        />

        <div class="d-flex gap-4 mt-2 justify-content-center justify-content-lg-center">
          <div class="form-privacyPolicy">
            <input
              type="checkbox"
              id="privacyPolicy"
              [(ngModel)]="form.privacyPolicy"
              (change)="markDirty('privacyPolicy')"
            />
            <label for="privacyPolicy"
              >I accept the <a routerLink="/privacy-policy">Privacy Policy</a></label
            >
          </div>
          <ui-button type="submit" variant="primary" [disabled]="!isFormValid()" (click)="submit()">
            Sign up
          </ui-button>
        </div>
        <div class="text-danger fw-bold mt-2">
          @if (errorMessage()) {
            {{ errorMessage() }}
          }
        </div>
      </form>
    </div>
  </div>
</ui-modal-wrapper>
