$black: #000000;
$white: #FFFFFF;

$off-white: #F6F7F8;
$grey: #A8A8A8;
$grey-light: #D1D1D1;
$grey-light2: #CDCDCD;
$grey-dark: #6E6E6E;

$blue-light: #44b4e5;
$blue-link: #0286be;
$blue-darker: #052144;
$blue-dark: #0b3263;
$blue-dark-hover: #082547;

$red: #FF3D00;
$orange: #FFA800;
$green: #7AE229;

$sh-nuevo: drop-shadow(0px 0px 4px rgba(0,0,0,0.1));
$sh-stronger: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
$sh-card: drop-shadow(0px 0px 10px rgba(0,0,0,0.08));
$sh-header: drop-shadow(0px 4px 4px rgba(0,0,0,0.1));
$sh-contact-bg: drop-shadow(4px 0px 6px rgba(0,0,0,0.08));

$base-border-radius: 0.625rem;
$navi-border-radius: 1rem;
$card-border-radius: 1.875rem;

$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;

$trans-default: all 0.125s ease-in-out;
