@use 'styles/mixins' as *;
@use 'styles/variables' as *;

* {
  transition: $trans-default;
  scrollbar-width: none;
}

:host {
  display: contents;
}

h2 {
  font-size: clamp(2.5rem, 3vw, 3.75rem);
  word-break: break-word;
}

strong {
  color: $blue-dark;
  font-weight: bold;

  @include for-size(lg) {
    font-weight: 100;
  }
}

.subtask-title {
  word-break: break-word;
}

.badge-row {
  padding-top: 0;
  position: sticky;
  top: 0;
  background: white;
  z-index: 5;
  box-shadow: 0 -4px 8px rgba(255, 255, 255, 0.9);
}

.edit-header {
  word-break: break-word;
}

.scrollable-content {
  flex: 1;
}

.task-detail {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  .task-detail::-webkit-scrollbar {
    display: none;
  }

  .category-badge {
    width: fit-content;
    padding: 0.35rem 0.75rem;
  }

  .detail-meta {
    .meta-item {
      &.priority {
        flex: none;
        gap: 1.5rem;
      }

      &.due-date {
        flex: 1;
      }
    }

    .priority-text {
      color: #111;
    }

    .priority-icon {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
      display: inline-block;
      margin-left: -1.25rem;
    }
  }

  .detail-section {
    overflow: hidden;

    .details-scroll-section {
      max-height: 9rem;
      overflow-y: auto;
      padding-right: 0.5rem;
      scrollbar-width: thin;
      scrollbar-color: $grey-light transparent;
    }

    .subtasks-scroll-section {
      max-height: 5.8rem;
      overflow-y: auto;
      padding-right: 0.5rem;
      scrollbar-width: thin;
      scrollbar-color: $grey-light transparent;
    }

    h3 {
      margin: 0 0 0.5rem;
      font-size: 1rem;
      font-weight: 700;
      color: #333;
    }

    .contacts-list {
      gap: 0.75rem;
    }

    .contact-item {
      gap: 0.75rem;

      .contact-avatar {
        width: 2.5rem;
        height: 2.5rem;
      }

      .contact-name {
        color: #333;
      }
    }

    .subtask-item {
      .subtask-checkbox-icon {
        width: 1.125rem;
        height: 1.125rem;
        flex-shrink: 0;
      }

      &:hover {
        background-color: #f0f2f5;
        border-radius: 0.75rem;
        cursor: pointer;
        padding-left: 0.05rem;
      }
    }
  }

  .detail-actions {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 5;
    width: 100%;
    box-shadow: 0px -4px 8px rgba(255, 255, 255, 1), 0px 4px 4px rgba(255, 255, 255, 1);

    .action-btn {
      gap: 0.4rem;
      cursor: pointer;
      transition: color 0.2s;

      img {
        display: block;
        transition: filter 0.2s;
      }

      &:hover {
        color: #2a6fd6;
      }

      &:hover img {
        filter: brightness(0) saturate(100%) invert(37%) sepia(78%) saturate(1331%) hue-rotate(199deg) brightness(93%) contrast(94%);
      }
    }
  }
}
