<main class="contact-list">

  @if (isContactModalOpen) {
    <app-contact-add-form (added)="onAdded()" (closed)="closeModal()" />
  }

  <header class="sticky-top d-flex py-lg-3 flex-column gap-2">
    <ui-button class="d-none d-lg-block" variant="primary" (click)="openModal()" bootstrapIcon="bi-person-plus">
      Add new contact
    </ui-button>
    <app-input-field
      type="text"
      label="Search contacts"
      placeholder="Search by name, email, phone or note"
      icon="assets/icons/search-32px.svg"
      [displayLabel]="false"
      (modelChange)="search.emit($event)"
      class="py-3 py-lg-0"

    />
  </header>

  @for (group of groups; track group.letter) {
    <section class="contacts mb-3">
      <header>
        <abbr class="letter">{{ group.letter }}</abbr>
      </header>

      <hr />

      <ul>
        @for (c of group.contacts; track c.id) {
          <li class="contacts__item" [class.Active]="selectedId === c.id" (click)="select.emit(c)">
            <abbr
              class="initialism d-flex d-inline-flex align-items-center justify-content-center rounded-circle"
              [title]="c.name"
              [style.background]="c.color"
            >
              {{ c.initials }}
            </abbr>
            <dl>
              <dt class="contacts__name">{{ c.name | truncate: 25 }}</dt>
              <dd class="contacts__email">{{ c.email | truncate: 25 }}</dd>
            </dl>
          </li>
        }
      </ul>
    </section>
  }

  <aside class="fab-container d-lg-none" aria-label="Quick actions">
    <ui-button variant="fab-primary" (click)="openModal()">
      <i class="bi bi-person-plus fs-4"></i>
    </ui-button>
  </aside>

</main>
