@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.add-task-page {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: $grey-light transparent;
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-inner {
  padding-top: 1.5rem;

  @include for-size(lg) {
    padding-top: 2rem;
  }
}

