@use 'styles/mixins' as *;
@use 'styles/variables' as *;

* {
  transition: padding 0.125s ease;
}

:host {
  display: block;
  height: 100%;
}

ui-main {
  display: block;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: hidden;

  &__header {
    flex-shrink: 0;
    gap: 1rem;
    padding: 0 1rem;

    @include for-size(sm) {
      padding: 0 1.5rem;
    }

    @include for-size(md) {
      padding: 0 2rem;
    }

    @include for-size(lg) {
      padding: 0 4rem;
      gap: 2.5rem;
    }

    nav {
      gap: 1rem;
    }
  }
}

.board-list-add-button {
  background-color: $blue-dark;
}

// .board-list-view-button {
//   background-color: $grey-dark;
// }

.task-board {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
}
