@use 'styles/variables' as *;
@use 'styles/mixins' as *;

#sideNav {
  background: $blue-dark;
  z-index: 1050;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  min-height: 5rem;

  @include for-size(lg) {
    position: relative;
    width: 14.5rem;
    height: 100vh;
    padding: 4rem 0;
  }
}

#main-nav{
  img.active {
    display: none;
  }
  img.default {
    display: flex;
  }


  a{
    padding: 2px 0;
    @include for-size(lg) {
      padding: 0;
    }
  }

  li.active {
    background: $blue-darker;
    border-radius: $base-border-radius;
    @include for-size(lg) {
      border-radius: 0;
    }
    a {
      color: $white;
      img.active { display: flex; }
      img.default { display: none; }
    }
  }

  a {
    color: $grey-light2;
    transition: $trans-default;
    text-decoration: none;

    &:hover {
      background: $blue-dark-hover;
      border-radius: $base-border-radius;
      color: $white;
      @include for-size(lg) {
        border-radius: 0;
      }
    }

    @include for-size(sm) {
      padding: $space-sm 0.5rem;
    }

    @include for-size(md) {
      padding: $space-sm 3rem;
    }

    @include for-size(lg) {
      padding: $space-sm 1.5rem;
    }
  }
}


#footer-nav {
  li{
    padding: $space-sm 0;
  }
  a {
    color: $grey;
    transition: $trans-default;
    text-decoration: none;
  }
  li.active {
    background: $blue-darker;
    a {
      color: $white;
    }
  }
}
