<div class="inputRow">

  @if (label) {
    <label [for]="label" [class.visually-hidden]="!displayLabel" class="form-label">
      {{ label }}
      @if (isRequired) {
        <span class="required-asterisk" aria-hidden="true"><span class="text-danger">*</span></span>
      }
    </label>
  }

  <div class="inputWrapper" [class.hasError]="error" [class.hasWarning]="hasWarningOnly">
    @if (bootstrapIconStart) {
      <i [class]="'inputBootstrapIcon bi ' + bootstrapIconStart" aria-hidden="true"></i>
    }
    <input
      [id]="label"
      class="form-control"
      [type]="type"
      [placeholder]="placeholder"
      [value]="model ?? ''"
      [attr.maxlength]="maxlength"
      [attr.min]="minDate"
      [attr.aria-required]="isRequired"
      [attr.aria-describedby]="describedById"
      [autocomplete]="autocomplete"
      [attr.aria-invalid]="!!error"
      (input)="onInput($event)"
      (blur)="blur.emit()"
      (focus)="onFocus($event)"
    />

    @if (icon) {
      @if (iconClickable) {
        <button
          type="button"
          class="iconButton"
          [attr.aria-label]="iconAlt || 'Toggle input visibility'"
          (mousedown)="onIconPointerDown($event)"
          (pointerdown)="onIconPointerDown($event)"
          (click)="onIconClick()"
        >
          <img class="inputIcon" [src]="icon" width="24" height="24" [alt]="iconAlt" />
        </button>
      } @else {
        <img class="inputIcon" [src]="icon" width="24" height="24" aria-hidden="true" />
      }
    }
    @if (bootstrapIconEnd) {
      @if (bootstrapIconEndClickable) {
        <button
          type="button"
          class="iconButton"
          [attr.aria-label]="bootstrapIconEndLabel || 'Toggle input'"
          (mousedown)="onIconPointerDown($event)"
          (pointerdown)="onIconPointerDown($event)"
          (click)="onIconClick()"
        >
          <i [class]="'inputBootstrapIcon bi ' + bootstrapIconEnd" aria-hidden="true"></i>
        </button>
      } @else {
        <i [class]="'inputBootstrapIcon bi ' + bootstrapIconEnd" aria-hidden="true"></i>
      }
    }
  </div>

  @if (reserveErrorSpace || hasMessage) {
    <div
      class="small ps-2 errorMessage"
      [class.text-danger]="!!error"
      [class.warningMessage]="hasWarningOnly"
      [class.no-space]="!reserveErrorSpace"
      [id]="label + 'Error'"
      role="alert"
    >
      @if (message) {
        {{ message }}
      }
    </div>
  }

</div>
