@use 'styles/mixins' as *;

.fd-main {
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 4.5rem);
  max-width: 90rem;
  width: 100%;
  overflow: auto;

  @include for-size(sm) {
    padding: 2rem 1.5rem 1rem 1.5rem;
  }

  @include for-size(md) {
    padding: 3rem 2rem 1rem 2rem;
    height: calc(100% - 5.5rem)
  }

  @include for-size(lg) {
    padding: 3rem 4rem 1rem 4rem;
    height: 100%;
    max-height: calc(100dvh - 5rem);
  }

}

.fd-main--full-width {
  max-width: none;
}

.fd-main--no-padding-x {
  padding-left: 0;
  padding-right: 0;
}

.fd-main--no-padding-bottom {
  padding-bottom: 0;
}

.fd-main--no-padding-top {
  padding-top: 0;
}
